* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif, helvatica;
}
:root{
  --bg-color: #0b1c37;
  --panel: #5555;
  --text-color: #fff;
  --accent: #39daf5;
}
body{
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  max-width: 100%;
}
.header{
  width: 100%;
  background: var(--panel);
  padding: 8px;
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  gap: 12rem;
}
.logo{
  color: var(--accent);
  text-transform: capitalize;
  width: 100%;
}
.nav-bar{
  float: left;
  display: block;
  gap: 16px;
  width: 100%;
}

.nav-bar a{
  float: left;
  gap: 16px;
  text-decoration: none;
  color: var(--text-color);
}
.nav-bar .cta-btns{
  background: var(--panel);
  border-radius: 10px;
  float: right;
}

